 <button class="backBtn">
    <a href="/">Home</a>
</button>


<section class="team-member-section">

 

  <div class="two-items">
    <div class="rone-item">
    <img src="/images/{{person.pic}}" alt="{{person.name}}'s names">
    </div>

    <div class="rtwo-items">
      <h2>{{ person.name }}</h2>
      <h3>{{ person.role }}</h3>
      <h4>{{ person.descrip }}</h4>

    </div>
    
     
  </div>

  
</section>
